.h1c {
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
  color: var(--silver);
}

.form-wrapper {
  display: grid;
  place-items: center;
}

.contact {
  display: grid;
  justify-content: center;
  padding: 10px;
  border: 2px solid var(--silver);
  margin-top: 50px;
  max-width: 500px;
  color: var(--silver);
}

@media screen and (max-width: 768px) {
  .contact {
    max-width: 520px;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    max-width: 420px;
    padding: 16px;
  }
}
