.landing-image {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  animation: gentleFloat 18s ease-in-out infinite alternate;
  z-index: 10;
}

.header-special {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: 0.3s ease;
}

.header-special:hover {
  z-index: 20;
}
.nav-special a {
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
}

.hero {
  height: 90vh;
  position: relative;
}

@keyframes gentleFloat {
  0% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -52%) scale(1.08);
  }
}
