.h1p {
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
  color: var(--silver);
  text-align: center;
  margin: 0;
}

.projekt-lista {
  border-radius: 10px;
  padding: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.projekt1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 32px;
  gap: 20px;
}

.projekt {
  border: 1px solid var(--silver);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  position: relative;

  height: 0;
  padding-top: 60%;

  transition: transform 0.3s ease;
}

.projekt:hover {
  transform: translateY(-5px);
}

.projekt::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: transform 0.3s ease;
}

.projekt:hover::before {
  transform: scale(1.05);
}

.projekt1 .projekt:nth-child(1)::before {
  background-image: url("../assets/kott.jpg");
}
.projekt1 .projekt:nth-child(2)::before {
  background-image: url("../assets/gym.jpg");
}
.projekt1 .projekt:nth-child(3)::before {
  background-image: url("../assets/gym2.jpg");
}
.projekt1 .projekt:nth-child(4)::before {
  background-image: url("../assets/beauty.jpg");
}
.projekt1 .projekt:nth-child(5)::before {
  background-image: url("../assets/nordiskrevision.jpg");
}
.projekt1 .projekt:nth-child(6)::before {
  background-image: url("../assets/image.jpg");
}

.projekt .titel {
  position: relative;
  z-index: 2;
  background-color: var(--midnight-violet);
  color: var(--ash-grey);
  padding: 8px 12px;
  margin: 12px;
  border-radius: 4px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .projekt-lista {
    padding: 16px;
  }

  .projekt1 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 768px) {
  .projekt1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
