.projekt-lista {
  border-radius: 10px;
  padding: 16px 14px;
}

.projekt1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 12px;
  margin-top: 50px;
}

.projekt {
  background-color: var(--silver);
  min-height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 6px 10px 6px;
  border: 1px solid var(--vintage-grape);
  border-radius: 8px;
  text-align: center;
}

.projekt .img {
  background-color: var(--ash-grey);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 1.5em;
}
.img-meat {
  background-image: url("/img/kott.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; /* optional */
  background-position: center; /* optional */
  background-repeat: no-repeat; /* optional */
}

.projekt .titel {
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .projekt1 {
    display: flex;
    flex-direction: column;
  }
}
