@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ash-grey: #bfc3ba;
  --silver: #a9aca9;
  --mauve-shadow: #60495a;
  --vintage-grape: #3f3244;
  --midnight-violet: #2f2235;
}

body {
  background-color: var(--midnight-violet);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 16px 16px;
  border-radius: 8px;
}

.nav {
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
  gap: 18px;
}

a {
  text-decoration: none;
  color: var(--ash-grey);
  font-weight: 500;
  gap: 50px;
}

.nav a {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.contact {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 16px;
  border-radius: 8px;
  color: var(--silver);
}
